/**** index.css ***/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,em,img,small,strong,sub,sup,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,canvas,embed,figure,figcaption,footer,header,hgroup,input,menu,nav,output,video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body {
    font-family: Tahoma,Geneva,sans-serif;
    background-color: #fffced
}

input {
    margin: 0 0 0 10px
}

select {
    background: #f9f9f9;
    color: #b41019
}

#arrow-left {
    cursor: pointer;
    cursor: hand;
    float: left;
    font-size: 2em;
    color: rgb(180, 16, 25);
    margin: -7px 4px 0 4px;
    transform: scaleX(1.2);
}

#arrow-right {
    cursor: pointer;
    cursor: hand;
    float: left;
    font-size: 2em;
    color: rgb(180, 16, 25);
    margin: -7px 4px 0 4px;
    transform: scaleX(1.2);
}

#arrow-left-play {
    width: 0;
    height: 0;
    cursor: pointer;
    cursor: hand;
    float: left;
    margin: 2px 8px 0 95px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 25px solid #007ac3
}

#arrow-right-play {
    width: 0;
    height: 0;
    cursor: pointer;
    cursor: hand;
    float: left;
    margin: 2px 10px 0 8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 25px solid #007ac3
}

#closeButtonGrey {
    padding: 0 2px;
    background-color: #fff;
    color: #444;
    text-decoration: none
}

#closeButtonGrey:hover {
    background-color: #444;
    color: #fff;
    text-decoration: none
}

#closeButtonRed {
    padding: 0 2px;
    background-color: #fff;
    color: #b41019;
    text-decoration: none
}

#closeButtonRed:hover {
    background-color: #b41019;
    color: #fff;
    text-decoration: none
}

#control1 {
    float: left;
    color: #b41019
}

#control2 {
    float: right;
    color: #444
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -65px 0 0 -65px;
    border: 15px solid #fff;
    border-radius: 50%;
    border-top: 15px solid #841019;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 10002
}

#loadertext {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 130px;
    height: 130px;
    margin: -65px 0 0 -65px;
    line-height: 130px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    z-index: 10001
}

#loadholderbacking {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #999;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index: 10000
}

#playS {
    float: left;
    width: 14px;
    height: 14px;
    margin: 3px 20px 0 5px;
    background-color: #007ac3;
    cursor: pointer;
    cursor: hand
}

#playT {
    float: left;
    font-size: 16px;
    text-align: center;
    color: #007ac3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#sliderlabel {
    font-weight: normal;
    float: left;
    width: 5px;
    height: 32px;
    margin: 0;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#sliderrange {
    float: left;
    width: 240px;
    height: 32px;
    margin: 0;
    border: 1px solid #fff;
    background-color: #fff;
    cursor: pointer;
    cursor: hand
}

#slidertime {
    font-weight: normal;
    float: left;
    width: 100px;
    height: 32px;
    margin: 0;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#title {
    width: 100%;
    margin: 15px 0;
    color: #b41019;
    font-size: 140%;
    text-align: center;
    text-shadow: 1px 1px 2px #999
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -moz-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.buttonShiny {
    margin: 0 5px 5px 0;
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #007ac3;
    color: #fff;
    cursor: pointer
}

.buttonShinyB {
    margin: 0 5px 5px 0;
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #007ac3;
    color: #fff;
    cursor: pointer
}

.buttonShinyB:hover {
    background-color: #b41019;
    color: #fff
}

.buttonShinyB:active {
    background-color: #b41019;
    color: #fff
}

.buttonShinyB:visited {
    background-color: #007ac3;
    color: #fff
}

.buttonShinyB:focus {
    background-color: #b41019;
    color: #fff
}

.buttonShinyB:blur {
    background-color: #007ac3;
    color: #fff
}

.tblShiny table {
    border-collapse: collapse
}

.tblShiny th {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #aaa;
    background-color: #ddd
}

.tblShiny tr td {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #aaa;
    background-color: #fff
}

.empty {
    width: 100%;
    height: 1px;
    clear: both
}

.pointerhand {
    cursor: pointer;
    cursor: hand
}

.radioButton:link {
    text-decoration: none;
    color: #b41019
}

.radioButton:visited {
    text-decoration: none;
    color: #b41019
}

.radioButton:active {
    text-decoration: underline;
    color: #b41019
}

.radioButton:hover {
    text-decoration: underline;
    color: #b41019
}

.radioButtonMap:link {
    text-decoration: none;
    color: #444
}

.radioButtonMap:visited {
    text-decoration: none;
    color: #444
}

.radioButtonMap:active {
    text-decoration: underline;
    color: #b41019
}

.radioButtonMap:hover {
    text-decoration: underline;
    color: #b41019
}

.tooltipPopUPBox {
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 0 0 0 #fff;
    position: relative;
    display: inline-block;
}

.tooltipPopUPBox .tttext {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 125%;
    border-radius: 6px;
    padding: 5px;
    background-color: #007ac3;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    font-size: small;
    z-index: 9990
}

.tooltipPopUPBox:hover .tttext {
    visibility: visible;
    opacity: 1
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
 
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
