/**** maps.css ***/
#infoDivbold {
    font-weight: bold
}

#infoDivHeader {
    color: #000
}

#infoDivTxt {
    color: #b41019
}

#placeSearch {
    width: 250px;
    margin: 0;
    border: 2px solid #777;
    padding: 0 0 0 2px;
    font-size: 14px
}

.leaflet-control-scale {
    padding-bottom: 20px
} /* move L.control.scale above Google attribution */
.leaflet-control-layers-list {
    max-height: 200px;
    padding-right: 20px
} /* define leaflet's dropdown menu height - if not defined menu overlaps other L.controls */
.leaflet-control-layers-expanded { white-space:nowrap; overflow:auto }
/* .leaflet-control-layers-scrollbar{overflow-y:hidden} don't seem to need this line */
/* .leaflet-control-layers{left:25px;top:30px} position of control layer  */
/* .leaflet-control-zoom{left:0} position of zoom control */
/* .leaflet-top{padding-top:100px} move all controls away from top margin */

.infoDiv {
    margin: 0;
    border: none;
    padding: 6px 8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-size: 120%
}

.legend {
    margin: 0;
    border: none;
    padding: 6px 8px;
    color: #555;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    line-height: 18px
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    border: none;
    padding: 0;
    opacity: 0.7
}

.leaflet-overlay-pane {
    mix-blend-mode: multiply
}

