/**** portrait.css ***/
#controls {
    width: 765px;
    float: left;
    margin: 10px 0 10px 45px;
    font-size: 85%
}

#ErrorMSG {
    width: 860px;
    margin: 0 auto;
    color: #b41019;
    background-color: #ddd
}

#footer {
    width: 100%;
    font-size: 85%;
    color: #aaa
}

#graph {
    margin: 20px auto
} /* set width & height in html */
#main {
    width: 860px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #999;
    border-radius: 5px
}

#mapid {
    margin: 0 auto;
    border: 5px solid #ccc;
    box-shadow: 3px 3px 3px #999;
    border-radius: 5px
} /* set width & height in html */
#spacer {
    width: 100%;
    height: 2px
}

.logo {
    width: 200px;
    margin: 2px 15px;
    vertical-align: middle
}

.slidercontrols {
    width: 420px;
    height: 32px;
    margin: 15px auto
}
